body {
    margin: 0;
}

a {
    text-decoration: none;
}

.main-container {
    width: 80%;
    margin: 50px 150px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    margin-bottom: 50px;

}
.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar ul li {
    display: inline;
}

.nav-bar ul li a {
    margin-right: 50px
}


.main-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bottom-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.bottom-item {
    display: flex;
}